body{

    background-color: azure;
    color:coral;
}

.seccion
{
    align-content: center;
    margin-left: 30%;
    font-size: 24px;

}

img
{
    width: 300px;
    height: 300px;
}

figcaption
{
    padding-left: 40px;    
    
}

h1{
    color: cyan;
}